{% extends "layout.html" %}

{% block content %}
            <section class="single-page-title">
                <div class="container text-center">
                    <h2>About us</h2>
                </div>
            </section>
            <!-- .page-title -->

            <section class="about-text ptb-100">
                <section class="section-title">
                    <div class="container text-center">
                        <h2>A Few Words About Us</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>We are dedicated to providing a site for both fans of Pokemon and Pokemon novices to search for various Pokemon and see their statistics and their types.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Our team includes Imran Ahmed, Charbel Marche, Mike Reynolds, Joshua Wright, and scrum master Hannah Zontine.</p>
                        </div>
                    </div>
                </div>

            </section>
            <!-- .about-text-->

            <!--<section class="skills ptb-100 gray-bg">
                <section class="section-title">
                    <div class="container text-center">
                        <h2>Our Professional Skills</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Completely reconceptualize leading-edge e-commerce</h3>

                            <p>Whereas 2.0 ideas. Energistically expedite frictionless infrastructures without user friendly quality vectors. Distinctively communicate customer directed content for leading-edge web-readiness. Professionally fabricate technically
                                sound mindshare before emerging paradigms. Efficiently e-enable vertical benefits after intermandated vortals.</p>

                            <p>Enthusiastically innovate one-to-one technology through user-centric architectures. Dynamically whiteboard global processes with compelling interfaces. Globally empower ubiquitous growth strategies vis-a-vis cross-unit alignments.
                                Collaboratively evisculate client-focused niches with impactful alignments.</p>
                        </div>
                        <div class="col-md-6 x-progress">
                            <div class="progress-wrapper">
                                <div class="progress-item">
                                    <span class="progress-title">Solution</span>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                    </div>
                                    <span class="progress-percent">50%</span>
                                </div>
                                <!-- /.progress-item -->

                                <!--<div class="progress-item">
                                    <span class="progress-title">Creativity</span>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                    </div>
                                    <span class="progress-percent">90%</span>
                                </div>
                                <!-- /.progress-item -->

                                <!--<div class="progress-item">
                                    <span class="progress-title">Finance</span>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                    </div>
                                    <span class="progress-percent">75%</span>
                                </div>
                                <!-- /.progress-item -->

                                <!--<div class="progress-item">
                                    <span class="progress-title">Brand</span>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                    </div>
                                    <span class="progress-percent">33%</span>
                                </div>
                                <!-- /.progress-item -->

                                <!--<div class="progress-item">
                                    <span class="progress-title">Efficiency</span>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;"></div>
                                    </div>
                                    <span class="progress-percent">82%</span>
                                </div>
                                <!-- /.progress-item -->
                            <!--</div>
                            <!-- /.progress-wrapper -->
                        <!--</div>
                    </div>
                </div>

            </section>
            <!-- .skills -->

            <!--<section class="testimonial">
                <section class="section-title">
                    <div class="container text-center">
                        <h2>Satisfied Customer</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>
                <div class="container"> 
                    <div id="testimonialSlider" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <!--<div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <blockquote>
                                    <ul>
                                        <li><img src="img/img-testimonial-1.jpg" class="img-responsive" alt="" /></li>
                                        <li class="name">Justus Kühn</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                                    </p>

                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>
                                    <ul>
                                        <li><img src="img/img-testimonial-2.jpg" class=" img-responsive" alt="" /></li>
                                        <li class="name">Lennox Arnold</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                                    </p>

                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>
                                    <ul>
                                        <li><img src="img/img-testimonial-3.jpg" class="img-responsive" alt="" /></li>
                                        <li class="name">Paulina Berger</li>
                                    </ul>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Controls -->
                        <!--<a class="left carousel-control" href="#testimonialSlider" role="button" data-slide="prev">
                            <span><i class="fa fa-angle-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#testimonialSlider" role="button" data-slide="next">
                            <span><i class="fa fa-angle-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- #testimonialSlider -->
                <!--</div>
            </section>
            <!-- .testimonial -->
{% endblock %}

