{% extends "layout.html" %}

{% block content %}
            <section class="single-page-title">
                <div class="container text-center">
                    <h2>About us</h2>
                </div>
            </section>
            <!-- .page-title -->

            <section class="about-text ptb-100">
                <section class="section-title">
                    <div class="container text-center">
                        <h2>A Few Words About Us</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>We are dedicated to providing a site for both fans of Pokemon and Pokemon novices to search for various Pokemon and see their statistics and their types.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Our team includes Imran Ahmed, Charbel Marche, Mike Reynolds, Joshua Wright, and scrum master Hannah Zontine.</p>
                        </div>
                    </div>
                </div>

            </section>

{% endblock %}

