<!DOCTYPE html>
<html lang="en" ng-app="pokesearch">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PokeSearch</title>
    <!-- web-fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>

    <!-- off-canvas -->
    <link href="css/mobile-menu.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="js/controller.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="main-wrapper"  ng-controller="searchController">
        <!-- Page Preloader -->
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>

        <div class="uc-mobile-menu-pusher"></div>
        <div class="content-wrapper">

            <nav class="navbar m-menu navbar-default navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                        <a class="navbar-brand" href="/"><img src="img/pokesearch_n.png" alt=""></a>
                    </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="#navbar-collapse-1">
                            <ul class="nav-cta hidden-xs">
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i
                        class="fa fa-search"></i></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="head-search">
                                                <form method = 'POST' action = '/results'>
                                                    <!-- Input Group -->
                                                    <div class="input-group">
                                                        <input name='search' type="text" ng-model="termToSearch" ng-change="setName()" class="form-control" placeholder="...">

                                                        <span class="input-group-btn">
			                                            <button type="submit" value="Send" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-disabled="!termToSearch">send</button>
			                                            </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        <ul class="nav navbar-nav navbar-right main-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/chat">Chat</a></li>
                            <!--<li class="dropdown m-menu-fw"><a href="/directory" data-toggle="dropdown" class="dropdown-toggle">Directory
                                <span><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="m-menu-content">
                                            <ul class="col-sm-3">
                                                <li class="dropdown-header">Widget Haeder</li>
                                                <li><a href="#">Awesome Features</a></li>
                                                <li><a href="#">Clean Interface</a></li>
                                                <li><a href="#">Available Possibilities</a></li>
                                                <li><a href="#">Responsive Design</a></li>
                                                <li><a href="#">Pixel Perfect Graphics</a></li>
                                            </ul>
                                            <ul class="col-sm-3">
                                                <li class="dropdown-header">Widget Haeder</li>
                                                <li><a href="#">Awesome Features</a></li>
                                                <li><a href="#">Clean Interface</a></li>
                                                <li><a href="#">Available Possibilities</a></li>
                                                <li><a href="#">Responsive Design</a></li>
                                                <li><a href="#">Pixel Perfect Graphics</a></li>
                                            </ul>
                                            <ul class="col-sm-3">
                                                <li class="dropdown-header">Widget Haeder</li>
                                                <li><a href="#">Awesome Features</a></li>
                                                <li><a href="#">Clean Interface</a></li>
                                                <li><a href="#">Available Possibilities</a></li>
                                                <li><a href="#">Responsive Design</a></li>
                                                <li><a href="#">Pixel Perfect Graphics</a></li>
                                            </ul>
                                            <ul class="col-sm-3">
                                                <li class="dropdown-header">Widget Haeder</li>
                                                <li><a href="#">Awesome Features</a></li>
                                                <li><a href="#">Clean Interface</a></li>
                                                <li><a href="#">Available Possibilities</a></li>
                                                <li><a href="#">Responsive Design</a></li>
                                                <li><a href="#">Pixel Perfect Graphics</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>-->
                            {% if loggedIn == False %}
                            <li><a href="/register">Register</a></li>
                            {% endif %}
                            {% if loggedIn %}
                            <li><a>Welcome, {{user}}</a></li>
                            <li>
                            <form method="post" action="/logout">
                                <button id="Logout" name="Logout" class="btn btn-primary">Logout</button>
                            </form>
                            </li>
                            {% else %}
                            <li><button type="submit" name="Login" value="Send" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Log In</button></li>
                            {% endif %}

                        </ul>
                    </div>
                    <!-- .navbar-collapse -->
                </div>
                <!--.container-->
            </nav>
            <!-- .nav -->

            <div id="x-corp-carousel" class="carousel slide hero-slide hidden-xs" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#x-corp-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#x-corp-carousel" data-slide-to="1"></li>
                    <li data-target="#x-corp-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-caption">
                            <h1>PokeSearch</h1>

                            <p>When you need to find the stats for a Pokemon.</p>

                        </div>
                        <img src="img/background3.png" alt="Hero Slide">
                    </div>
                    <div class="item">
                        <img src="img/background3.png" alt="...">

                        <div class="carousel-caption">
                            <h1>PokeSearch</h1>

                            <p>When you just don't want to drag out the Pokedex.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/background3.png" alt="...">

                        <div class="carousel-caption">
                            <h1>PokeSearch</h1>

                            <p>When you gotta catch 'em all.</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#x-corp-carousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#x-corp-carousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- #x-corp-carousel-->

            <section class="x-services ptb-100 gray-bg">

                <section class="section-title">
                    <div class="container text-center">
                        <h2>Statistics</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>

                <div class="container">
                    <div class="row">
                       	{%for i in typeList%}
                        	<div class="col-md-6">
        	                    <div class="thumbnail clearfix">
				   	                <div id="header">
						                <b><big> {{i[1]}} </big></b>
					                </div>
		    			            <div id="left">	
			    			            <a href=#><img class="img-responsive" src=img/{{i[2]}} alt="Image"></a>
				    	            </div>

                                    <div id="right" class="caption">
                                	   <p>Weight: {{i[3]}}</p>
                        	           <p>Height: {{i[4]}}</p>
                           	           <p>Male: {{i[5]}}</p>
                                       <p>Female: {{i[6]}}</p>
                            	       <p>HP: {{i[7]}}</p>
                                	   <p>Attack: {{i[8]}}</p>
                                       <p>Defense: {{i[9]}}</p>
                            	       <p>Speed: {{i[12]}}</p>
                                       <p>Evolution: {{i[14]}}</p>
                                    </div>
                                </div>
                            </div>
                    	{%endfor%}
                    </div>
                <!-- .container -->
            </section>
            <!-- .x-services -->

            <!--<section class="x-features">
                    <section class="section-title">
                        <div class="container text-center">
                            <h2>Our Capabilities</h2>
                            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 img-left">
                                <img class="img-responsive" src="img/img-about.png" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="promo-block-wrapper clearfix">
                                    <div class="promo-icon">
                                        <i class="fa fa-line-chart"></i>
                                    </div>
                                    <div class="promo-content">
                                        <h3>We teach you how to improve your business</h3>

                                        <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <!-- /.promo-block-wrapper -->

            <!--<div class="promo-block-wrapper clearfix">
                                    <div class="promo-icon">
                                        <i class="fa fa-life-ring"></i>
                                    </div>
                                    <div class="promo-content">
                                        <h3>We make the technology affordable for you</h3>

                                        <p>Hello. We are going to take over the universe.</p>
                                    </div>
                                </div>
                                <!-- /.promo-block-wrapper -->

            <!--<div class="promo-block-wrapper clearfix">
                                    <div class="promo-icon">
                                        <i class="fa fa-calculator"></i>
                                    </div>
                                    <div class="promo-content last-type">
                                        <h3>Seamlessly grow wireless human capital before turnkey.</h3>

                                        <p>Lorem ipsum dolor sit consectetuer adipiscing elit nonummy ib uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <!-- /.promo-block-wrapper -->

            <!--</div>
                        </div>
                    </div>
                </section>
                <!-- .x-features -->

            <section class="team ptb-100">
                <section class="section-title">
                    <div class="container text-center">
                        <h2>Types</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>
                <div class="container">
                    <div class="row">
                        {% for i in typeList %}
				        <div class="col-sm-4">
    		    		    <figure class="thumbnail">
	        	    			<a href="#"><img src=img/{{i[2]}} class="img-responsive" alt="Image"></a>
					            <figcaption class="caption text-center">
        					        <h3> {{i[1]}} -
		        		        		<small>{{i[15]}}</small>
				            	    </h3>
			        		    </figcaption>
				            </figure>
				        </div>
				        <!-- /.col-sm-4 <-->
				        
				        {% endfor%}
                     <!-- /.row -->
                    </div>
                </div>
                 <!-- /.container -->
            </section>
            <!-- .team -->

            <!--<section class="testimonial">
                    <section class="section-title">
                        <div class="container text-center">
                            <h2>Satisfied Customer</h2>
                            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                        </div>
                    </section>
                    <div class="container">
                        <div id="testimonialSlider" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
            <!--<div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <blockquote>
                                        <ul>
                                            <li><img src="img/img-testimonial-1.jpg" class="img-responsive" alt="" /></li>
                                            <li class="name">Justus Kühn</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                                        </p>

                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <ul>
                                            <li><img src="img/img-testimonial-2.jpg" class=" img-responsive" alt="" /></li>
                                            <li class="name">Lennox Arnold</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                                        </p>

                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <ul>
                                            <li><img src="img/img-testimonial-3.jpg" class="img-responsive" alt="" /></li>
                                            <li class="name">Paulina Berger</li>
                                        </ul>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel </br>lacus pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec</br> diam elit consequat eget augue vitae aliquet sollicitudin.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- Controls -->
            <!-- <a class="left carousel-control" href="#testimonialSlider" role="button" data-slide="prev">
                                <span><i class="fa fa-angle-left"></i></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#testimonialSlider" role="button" data-slide="next">
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- #testimonialSlider -->
            <!--</div>
                </section>
                <!-- .testimonial -->

            <section class="client-logo ptb-100">
                <section class="section-title">
                    <div class="container text-center">
                        <h2></h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            <a href="#"><img src="img/Blastoise.jpg" alt="Image"></a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            <a href="#"><img src="img/Charizard.jpg" alt="Image"></a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            <a href="#"><img src="img/Electabuzz.jpg" alt="Image"></a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            <a href="#"><img src="img/Golduck.jpg" alt="Image"></a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            <a href="#"><img src="img/Lapras.jpg" alt="Image"></a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            <a href="#"><img src="img/Scyther.jpg" alt="Image"></a>
                        </div>
                    </div>
                </div>
                <!--end of .container -->
            </section>
            <!-- /.client-logo -->


            <footer class="footer">

                <!-- Footer Widget Section -->
                <div class="footer-widget-section">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-4 footer-block">
                                <div class="footer-widget widget_text">
                                    <div class="footer-logo">
                                        <a href="#"><img src="img/pokesearch_n.png" alt=""></a>
                                    </div>
                                    <p>Get the info you need on the Pokemon of your choice.</p>

                                </div>
                            </div>
                            <!-- /.col-sm-4 -->

                            <div class="col-sm-4 footer-block">
                                <div class="footer-widget widget_text">
                                    <h3>Important Information</h3>
                                    <p>If you want to avoid battles, stay out of the grassy areas. -A signpost in Viridian Forest</p>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->

                            <div class="col-sm-4 footer-block last">
                                <div class="footer-widget widget_text">
                                    <h3>Contact Us Today</h3>
                                    <address>
                            Call Us 666 777 888 OR 111 222 333<br>
                            Send an Email on <a href="mailto:#">contact@domain.com</a><br>
                            Visit Us Route 115, Meteor Falls<br>
                            Hoenn<br>
                        </address>

                                    <ul class="list-inline social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                    </div>
                </div>
                <!-- /.Footer Widget Section -->

                <div class="copyright-section">
                    <div class="container clearfix">
                        <span class="copytext">Copyright &copy; 2016 | <a href="https://uicookies.com/downloads/x-corporation-free-bootstrap-html-template/">X-Corporation</a> Designed And Developed By: <strong style="color: #31aae2;">uiCookies.com</strong></span>

                        <ul class="list-inline pull-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <!-- .container -->
                </div>
                <!-- .copyright-section -->
            </footer>
            <!-- .footer -->

            </div>
            <!-- .content-wrapper -->
        </div>
        <!-- .offcanvas-pusher -->

        <div class="uc-mobile-menu uc-mobile-menu-effect">
            <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="uc-mobile-menu-close-btn">&times;</button>
            <div>
                <div>
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .uc-mobile-menu -->



        <!-- Script -->
        <script src="js/jquery-2.1.4.min.js"></script>

        <script src="js/smoothscroll.js"></script>
        <script src="js/mobile-menu.js"></script>
        <script src="js/flexSlider/jquery.flexslider-min.js"></script>
        <script src="js/scripts.js"></script>
        <a style="font-size:0; height:0; width:0; opacity:0; position:absolute" target="_blank" href="http://www.uicookies.com">HTML Templates by uiCookies</a>

        <!-- Modal
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Results for {{termToSearch}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="wrapper">
                                <div class="scroll" id="searchPane">
                                    <p ng-repeat="res in results">
                                        <p><b>Name: </b></p>
                                        <p><b><span ng-bind="res.name"></span></b><br/></p>
                                        <p><b>Weight: </b></p>
                                        <p><span ng-bind="res.weight"></span><br/></p>
                                        <p><b>Height: </b></p>
                                        <p><span ng-bind="res.height"></span><br/></p>
                                        <p><b>Male: </b></p>
                                        <p><span ng-bind="res.male"></span><br/></p>
                                        <p><b>Female: </b></p>
                                        <p><span ng-bind="res.female"></span><br/></p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--login modal-->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">

                <!--Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form col-md-12 center-block" action="/login">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" name="userName" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" name="pw" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                <span class="pull-right"><a href="#"></a></span><span><a href="/register">Register</a></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- .container -->
</body>

</html>
