{% extends "layout.html" %}

{% block content %}
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                <!--Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <form action="/">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </form>
                    <h1 class="text-center">Login</h1>
                </div>
                <div class="modal-body">
                    <form method="post" class="form col-md-12 center-block" action="/login">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" name="userName" placeholder="Username">
                            </div>
                            <div class="form-group">
                                    <input type="password" class="form-control input-lg" name="pw" placeholder="Password">
                            </div>
                         <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                <span class="pull-right"><a href="#"></a></span><span><a href="/register">Register</a></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <div class="col-md-12">
                        {% if failed %}
                            <h3 style="color:#ff3333;"><center><marquee style="height:1;width:200" scrollamount="200" scrolldelay="500">Invalid username or password!</marquee></center></h3>
                        {% endif %}
                        <form action="/">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <!-- Script -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/mobile-menu.js"></script>
    <script src="js/flexSlider/jquery.flexslider-min.js"></script>
    <script src="js/scripts.js"></script>

{% endblock %}
