{% extends "layout.html" %}

{% block content %}
            <section class="single-page-title">
                <div class="container text-center">
                    <h2>Results for '{{searchedString}}'</h2>
                </div>
            </section>
            <!-- .page-title -->
            
            <section class="x-services ptb-100 gray-bg">

                <section class="section-title">
                    <div class="container text-center">
                        <h2>Pokemon Found:</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </section>
            <div class="container">
                    <div class="row">
                    {%for res in resultsOfSearch%}
                        <div class="col-md-6">
                            <div class="thumbnail clearfix">
                                <!-- INSERT PHOTO HERE WHEN WE HAVE THEM -->
                                <div class="caption">
                                    <h3 color="black"><b>     {{res[0]}}</b></h3><br/>
                                      <h6><b>     Weight: {{res[1]}}</h6>
                                      <h6><b>     Height: {{res[2]}}</h6>
                                      <h6><b>     Male: {{res[3]}}</h6>
                                      <h6><b>     Female: {{res[4]}}</h6>
                                      <h6><b>     HP: {{res[5]}}</h6>
                                      <h6><b>     Attack: {{res[6]}}</h6>
                                      <h6><b>     Defense: {{res[7]}}</h6>
                                      <h6><b>     Special Attack: {{res[8]}}</h6>
                                      <h6><b>     Special Defense: {{res[9]}}</h6>
                                      <h6><b>     Speed: {{res[10]}}</h6>
                                      <h6><b>     Total Rating: {{res[11]}}</h6>
                                      <h6><b>     Evolves Into: {{res[12]}}</h6><br/><br/><br/>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                    <!-- .row -->
                    </div>
                <!-- .container -->
            </section>
            <!-- .x-services -->
            
{%endblock%}